.Rproj.user
.Rhistory
.RData
.Ruserdata
GLM_MCMC_chain_*
*.png
*.pdf
*.csv
*images*
contexts
ARCHIVE
R0_lookup_table.Rdata
R0_lookup_table_coarse.Rdata
*.zip
sero_filepath_to_use
*.log
old vac/
*.RDS
